/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/*RESET CSS*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*RESPONSIVE BASELINE*/
img{
  max-width: 100%;
}
a{
  text-decoration: none;
}

/*GLOBAL DEFAULT*/
body{
  font-family: Arial, Helvetica, sans-serif;
}

/*------------------------------------------------------------------------------
-------------SET MAX-WIDTH ON CONTAINERS & REUSABLE STYLES----------------------
------------------------------------------------------------------------------*/
.container, .header-container, .promo-container, .main-mob-container,
.footer-container{
  max-width: 940px;
  margin: 0 auto;
}
.float-left{
  float: left;
}
.float-right{
  float: right;
}
.clearfix{
  overflow: auto;
}
.overlay{
  position: absolute;
  background: rgba(0,0,0,.5);
}
.time{
}
.time::before{
  content: "\f017";
  font-family: FontAwesome;
  font-size: 1.1rem;
  color: rgba(249, 206, 1, 1);
  margin-right: 5px;
}
.link{
}
.link::before{
  content: "\f0c1";
  font-family: FontAwesome;
  font-size: 1.1rem;
  margin-right: 5px;
  color: rgba(73, 75, 73, 1);
  transform: scale(1, -1);
  display: inline-block;
}
/*------------------------------------------------------------------------------
---------------------------------HEADER CSS-------------------------------------
------------------------------------------------------------------------------*/
header{
  background: linear-gradient(rgba(84, 84, 84, 1), rgba(21, 21, 21, 1));
  color: white;
  text-shadow: 0px 1px 0px black;
  line-height: 3.77rem;
  vertical-align: middle;
}
.top-logo{
}
.top-logo > *{
  display: inline-block;
}
.mobber-logo{
  margin-top: 5px;
}
ul.top-logo li{
  margin-left: 47px;
}
.user{
}
.user-name{
  position: relative;
  margin-left: 59px;
  margin-right: 5px;
}
.user-name::before{
  background: url(images/profile-pic.jpg) center center;
  background-size: cover;
  position: absolute;
  top: 5px;
  left: -59px;
  content: " ";
  width: 50px;
  height: 50px;
  border-radius: 25px;
  box-shadow: 0px 0px 2px black;
}
.user-name::after{
  content: "\f04b";
  font-family: FontAwesome;
  font-size: .7rem;
  transform: rotate(90deg);
  display: inline-block;
  line-height: .5rem;
  margin-left: 11px;
}
.user-dropdown{
  display: none;
}
.disclaimer{
  color: rgba(120, 120, 120, 1);
  font-size: .8rem;
}

/*------------------------------------------------------------------------------
---------------------------------PROMO CSS--------------------------------------
------------------------------------------------------------------------------*/
.promo{
  background-color: white;
  box-shadow: 1px 0px 3px rgba(0, 0, 0, .5);
  position: relative;
  z-index: 2;  /* keep the shadow on top of the next div down (main-mob-background) */
}
.promo-container{
  line-height: 5rem;
  font-size: 1.9rem;
  text-align: center;
  vertical-align: middle;
  color: rgba(65, 65, 65, 1);
}

/*------------------------------------------------------------------------------
---------------------------------MAIN MOB CSS-----------------------------------
------------------------------------------------------------------------------*/

.main-mob-background{
  background-color: rgba(242, 240, 236, 1);
  border-bottom: 1px solid rgba(217, 217, 217, 1);
}
.main-mob-container{
  padding-top: 10px;
}
.main-mob, .main-mob-meta{

}
.main-mob{
  width: 66%;
  margin-right: 1.5%;
}
.main-mob-bg{
  background: url(images/main-mob.jpg) center center;
  background-size: cover;
  position: relative;
  height: 400px;
}
.main-mob-header{
  top: 0;
  left: 0;
  right: 0;
  height: 14%;
  color: white;
  vertical-align: middle;
  line-height: 3rem;
  padding: 0 20px;
}
.main-mob-title{

}
.main-mob-meta{
  width: 32%;
}
.mob-message{
  font-weight: bold;
  line-height: 1.5rem;
  background: rgba(249, 206, 1, 1);
  position: absolute;
  bottom: -1rem;
  left: -.25rem;
  padding: 10px;
  color: white;
  border-bottom: 1px solid rgba(202, 144, 2, 1);
  text-shadow: 0px 1px 0px rgba(202, 144, 2, 1);
}
.mob-message::before{
  content: " ";
  position: absolute;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: rgba(249, 206, 1, 1);
  bottom: -1px;
  left: 0;
}
.mob-message::after{
  content: " ";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 8px 7px 0;
  border-color: transparent rgba(249, 206, 1, 1) transparent transparent;
  position: absolute;
  bottom: -7px;
  left: 0px;
}
.main-mob-cta{
  background: rgba(207, 205, 198, 1);
  padding: 25px 23px 20px 23px;
  font-style: italic;
  color: rgba(65, 65, 65, 1);
  line-height: 1.3rem;
  font-size: 1.1rem;
}
.main-mob-cta::before, .main-mob-cta::after{
  content: "\"";
}
.main-mob-disclaimer{
  padding: 10px 23px 30px 23px;
  position: relative;
}
.main-mob-disclaimer::before{
  position: absolute;
  background: url(images/arrow-icon.png) center center;
  background-size: cover;
  position: absolute;
  top: -17px;
  left: 6px;
  content: " ";
  width: 15px;
  height: 31px;
}
/*------------------------------------------------------------------------------
----------------------------MAIN MOB META CSS-----------------------------------
------------------------------------------------------------------------------*/
.counter{
  width: 46.3333%;
  display: inline-block;
}
.counter-num{
  display: block;
  background-color: rgba(207, 205, 198, 1);
  padding: 40px 0px 27px 0px;
  color: white;
  text-shadow: 0px 1px 1px rgba(122, 122, 122, 1);
  font-size: 4rem;
  text-align: center;
}
.counter-title{
  display: block;
  background-color: rgba(181, 174, 163, 1);
  padding: 12px 0px;
  color: rgba(65, 65, 65, 1);
  text-shadow: 0px 1px 1px rgba(255, 255, 255, .5);
  font-size: .8rem;
  text-align: center;
}
.join-container{
  margin-top: 25px;
}
.join-container-top{
  background: linear-gradient(rgba(234, 166, 2, 1), rgba(255, 221, 2, 1));
  color: white;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, .5);
  padding: 20px 0px;
  text-align: center;
  border: 1px solid rgba(202, 144, 2, 1);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, .5);
  font-size: 1rem;
  border-radius: 5px;
}
.join-container-bottom{
  margin: 0px 5px;
  background: white;
  border-radius: 0px 0px 5px 5px;
  border: 1px solid rgba(182, 182, 182, 1);
  padding: 11px 0px 13px 0px;
}
.join-container img{
  margin-left: 3.125%;
  margin-right: 1.736%;
}
.rewards-container{
  width: 80%;
}
.rewards-container span{
  display: block;
}
.reward-one{
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 6px;
}
.reward-two{
  margin-top: 9px;
  font-size: .8rem;
}
.join-container-disclaim{
  text-align: center;
  padding: 14px 0 20px 0;
  border-bottom: 1px solid rgba(177, 177, 177, 1);
}
.social-icons{
  padding-top: 18px;
}
.social-icons li{
  display: inline-block;
  line-height: 24px;
  vertical-align: middle;
}
.social-icons li a{
  color: rgba(14, 129, 177, 1);
  font-size: .7rem;
}
/*------------------------------------------------------------------------------
----------------------------OTHER MOBS CSS--------------------------------------
------------------------------------------------------------------------------*/

.other-mobs-container{
	padding-top: 38px;
	padding-bottom: 34px;
	border-bottom: 1px solid rgba(183, 183, 183, 1);
}
.other-mobs{
	width: 31.9%;
	margin-right: 2.1%;
	display: inline-block;
	float: left;
}
.other-mobs:last-child{
	margin: 0px;
}
.other-mob-meta{
	padding-top: 6px;
}
.other-mob-container{
	width: 72%;
}
.other-mob-title{
	font-weight: bold;
	font-size: .8rem;
}
.other-mob-info{
	margin-top: 6px;
	font-size: .7rem;
	color: rgba(126, 126, 126, 1);
}
.clock{
}

/*------------------------------------------------------------------------------
----------------------------UPCOMING MOBS CSS-----------------------------------
------------------------------------------------------------------------------*/

.upcoming-mobs-container{
	padding-top: 18px;
}
.upcoming-mobs{
	width: 66%;
}
.upcoming-mobs h2{
	font-size: 1.5rem;
	font-weight: bold;
}
.upcoming-mobs ul{
	padding-top: 35px;
}
.upcoming-mobs li{
	border-bottom: 1px solid rgba(183, 183, 183, 1);
	padding: 10px 0px;
}
.upcoming-mobs li:last-child{
	border: none;
}
.upcoming-mobs li div{
	display: inline-block;
	font-size: .9rem;
}
.upcoming-mob{
	width: 40%;
	font-weight: bold;
}
.upcoming-mob-needed{
	width: 30%;
	color: rgba(48, 48, 48, 1);
}
.upcoming-mob-needed::after{
	content: " Mobbers Needed";
}
.upcoming-mob-date{
	width: 27.5%;
	color: rgba(93, 92, 93, 1);
	text-align: right;
}
.start-a-mob{
	width: 32%;
	background-color: rgba(207, 205, 199, 1);
	text-align: center;
	padding: 20px 0px 11px 0px;
}
.start-title{
	color: white;
	text-shadow: 0px 1px 1px rgba(122, 122, 122, 1);
	font-size: 1.5rem;
	font-weight: bold;
}
.start-a-mob ol{
	margin-left: 0;
	padding-right: 0;
	margin-top: 50px;
	position: relative;
}
.start-a-mob ol:before{
	content: " ";
	border-top: 7px solid rgba(189, 187, 181, 1);
	position: absolute;
	top: -26px;
	left: 0px;
	width: 66%;
	margin-left: 17%;
}
.start-a-mob li{
	counter-increment: step-counter;
	position: relative;
	display: inline-block;
	width: 24%;
	font-size: .6rem;
	color: rgba(70, 69, 69, 1);
}
.start-a-mob li:not(:last-child){
	margin-right: 5%;
}
.start-a-mob li:before{
	content: counter(step-counter);
	position: absolute;
	top: -40px;
	left: 50%;
	margin-left: -18px;
	font-weight: bold;
	border-radius: 18px;
	font-size: 1rem;
	width: 36px;
	border: 1px solid rgba(169, 166, 162, 1);
	color: rgba(79, 79, 79, 1);
	line-height: 2.2rem;
	vertical-align: middle;
	background: radial-gradient( white, rgba(212, 212, 212, 1) 90%, rgba(239, 239, 239, 1) );
	box-shadow: inset 0px 1px 0px rgba(255,255,255, 1), 0px 1px 1px rgba(0, 0, 0, .25);
}
.btn-sam{
	width: 92%;
	display: block;
	font-size: 1.2rem;
	margin: 10px 4% 0px 4%;
	padding: 20px 0;
	border-radius: 5px;
	border: 1px solid rgba(159, 157, 152, 1);
	background: linear-gradient( rgba(228, 227, 223, 1), rgba(209, 205, 199, 1) );
	box-shadow: inset 0px 1px 0px rgba(255,255,255, 1), 0px 1px 1px rgba(0, 0, 0, .25);
	color: rgba(0, 121, 173, 1);
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
}
/*------------------------------------------------------------------------------
-----------------------------------FOOTER CSS-----------------------------------
------------------------------------------------------------------------------*/

footer{
	margin-top: 58px;
	padding-top: 21px;
	background: rgba(66, 66,66, 1);
	color: white;
	text-shadow: 0px 1px 2px black;
}
.footer-holder{
	width: 23.2%;
	margin-right: 9.6%;
}
.footer-holder:first-of-type{
	width: 31.9%;
}
.footer-holder:last-of-type{
	margin-right: 0;
}
.footer-container-title{
	font-weight: bold;
	margin-bottom: 20px;
}
.mob-categories ul{

}
.mob-categories li{
	display: inline-block;
	text-align: center;
	width: 45%;
	margin-right: 8%;
	margin-bottom: 10px;
	border-radius: 5px;
	font-size: .75rem;
	padding: 10px 0;
	border: rgba(60, 60, 60, 1);
	background: rgba(99, 99, 98, 1);
	box-shadow: inset 0px 1px 0px rgba(255,255,255, .25), 0px 2px 1px rgba(0, 0, 0, .25);
}
.mob-categories li:nth-child(even){
	margin-right: 0;
}
.footer-container-text{
	font-size: .7rem;
	line-height: .8rem;
	margin-bottom: 20px;
}
#email-signup{

}
.connect-with-mobber input, .connect-with-mobber button{
	display: block;
	float: left;
	box-sizing: border-box;
	line-height: 1.75rem;
	margin: 0;
	padding: 0;
	border: none;
	vertical-align: middle;
	border: 1px solid rgba(52, 49, 49, 1);
	box-shadow: inset 0px 2px 3px rgba(0,0,0, .25);
}
.connect-with-mobber input[type="email"]{
	background: rgba(253, 253, 253, 1);
	border-radius: 5px 0 0 5px;
	padding-left: 10%;
	width: 80%;
	border-right: none;
}
.connect-with-mobber button[type="submit"]{
	width: 20%;
	color: white;
	font-size: 1.2rem;
	background: rgba(157, 157, 157, 1);
	border-radius: 0 5px 5px 0;
	border-left: 1px solid rgba(153, 153, 153, 1);
}
.connect-with-mobber ul{
	padding-top: 30px;
}
.connect-with-mobber li{
	border-bottom: 1px solid rgba(55, 55, 55, 1);
	display: table;
	width: 100%;
	margin-bottom: 5px;
	padding-bottom: 5px;
	font-size: .8rem;
	position: relative;
}
.connect-with-mobber li:last-child{
	border-bottom: none;
}
.connect-with-mobber li span{
	display: table-cell;
	vertical-align: middle;
}
.icon{
	width: 15%;
}
.social-message{
	text-align: left;
}
.how-it-works-btn{
	background: linear-gradient(rgba(254,216,10,1), rgba(227,150,8,1));
	border: 1px solid rgba(190,126,7,1);
	border-radius: 5px;
	color: white;
	text-shadow: 0 1px 1px rgba(0,0,0,.5);
	box-shadow: inset 0px 1px 0px rgba(255,255,255, .25), 0px 2px 1px rgba(0, 0, 0, .25);
	display: block;
	text-align: center;
	padding: 18px 0;
	margin-bottom: 27px;
}
.email-us-btn{
	background: rgba(80,80,80,1);
	width: 60%;
	text-align: center;
	color: white;
	border: 1px solid rgba(42,42,42,1);
	border-radius: 5px;
	box-shadow: inset 0px 1px 0px rgba(255,255,255, .25);
	display: block;
	padding: 12px 0;
	margin-bottom: 32px;
}
.copyright{
	border-top: 1px solid rgba(42,42,42,1);
	padding-top: 9px;
	font-size: .8rem;
}
